@model Product
<div class="card">
    <img class="card-img-top" src="~/img/ipad-12pro.jpg" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="" class="btn btn-primary">İncele</a>
    </div>
</div>